[submodule "3rdparty/gem5"]
	path = 3rdparty/gem5
	url = https://github.com/gem5/gem5.git
[submodule "3rdparty/mor1kx"]
	path = 3rdparty/mor1kx
	url = https://github.com/openrisc/mor1kx.git
[submodule "3rdparty/altor32"]
	path = 3rdparty/altor32
	url = https://github.com/ultraembedded/altor32.git
