[submodule "3rdparty/mor1kx"]
	path = 3rdparty/mor1kx
	url = ssh://git@github.com/leeopop/mor1kx.git
[submodule "3rdparty/altor32"]
	path = 3rdparty/altor32
	url = ssh://git@github.com/leeopop/altor32.git
